<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Campers", campers_path %></li>
        <li><%= link_to "Registrations", registrations_path %></li>
      </ul>
    </nav>
  </div>
</header>
